# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Obsidian
.obsidian/
.trash/

# OS
.DS_Store
Thumbs.db

# SSH / secrets
*.pem
*.key
keypair
keypair.pub
nrvmanagedit-new/
nrvmanagedit-updated.zip
